.container {
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.dashboard {
  flex: 1;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboardHead {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboardHead > .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.head > span {
  font-size: 1.5rem;
  font-weight: 500;
}

.durationButton select {
  border: none;
  background: var(--orange-gradient);
  padding: 10px ;
  font-weight: 500;
  border-radius: 10px;
  font-size: 0.8rem;
  outline: none;

}

.durationButton select:hover {
  background: rgba(255, 255, 255, 0.2);
}

.cards {
  display: flex;
  justify-content: space-between;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cardHead{
  font-size: 1rem;
}
.cardHead>:nth-child(1){
  color: rgba(255, 255, 255, 0.835);
}
.cardHead>:nth-child(2){
  margin-left: 1.5rem;
  font-size: 0.8rem;
  color: var(--green);
}
.cardAmount>:nth-child(1){
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.776);
  position: relative;
  bottom:5px ;
  
}
.cardAmount>:nth-child(2){
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 8px;
}

 