.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.dashboard {
  position: relative;
  flex: 1;  
  flex-direction: column;
  z-index: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.topBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  overflow: hidden;
  z-index: -1;
}

.topBaseGradients > :nth-child(2) {
  left: 40%;
}

.topBaseGradients > :nth-child(3) {
  right: 0;
}

.header {
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.header > :nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30%;
  max-width: 25rem;
  min-width: 200px;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
}

.searchBar:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.searchBar > input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.profile > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  line-height: 1.2;
}

.details > :nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}

.details > :nth-child(2) {
  font-size: 0.85rem;
  color: var(--grey);
}

.content {
  padding: 2rem 4rem;
  flex: 1;
  overflow-y: auto;
}

 