.container {
  height: 100vh;
  width: 6%;
  max-width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background: rgb(20, 20, 20);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 45%;
  max-width: 4rem;
  object-fit: contain;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
}

.item:hover svg {
  transform: scale(1.2);
  fill: var(--orange);
}

.item.active svg {
  fill: var(--orange);
}

.item > svg {
  fill: white;
  width: 2rem;
  height: 2rem;
}
